<main class="my-form">
	<div class="cotainer">
		<div class="row justify-content-center">
			<div class="col-md-8">
				<div class="card">
					<div class="card-header">
						<div class="text-center py-2">
							<h4><i class="fas fa-user"></i> Datos personales</h4>
						</div>
					</div>
					<div class="card-body">
						<form name="my-form" onsubmit="return validform()" action="success.php" method="">
							<div class="form-group row">
								<label for="full_name" class="col-md-4 col-form-label text-md-right"><abbr
										title="Número de cuenta bancaria">IBAN</abbr></label>
								<div class="col-md-6">
									<input type="text" id="iban" value="{{user_info.iban}}" class="form-control" name="iban">
								</div>
							</div>

							<div class="form-group row">
								<label for="email_address" class="col-md-4 col-form-label text-md-right">País</label>
								<div class="col-md-6">
									<input type="text" id="country" value="{{user_info.country}}" class="form-control" name="country">
								</div>
							</div>

							<div class="form-group row">
								<label for="user_name" class="col-md-4 col-form-label text-md-right">Región</label>
								<div class="col-md-6">
									<input type="text" id="region" value="{{user_info.region}}" class="form-control" name="region">
								</div>
							</div>

							<div class="form-group row">
								<label for="phone_number" class="col-md-4 col-form-label text-md-right">Código postal</label>
								<div class="col-md-6">
									<input type="text" id="zip" value="{{user_info.zip}}" name="zip" class="form-control">
								</div>
							</div>

							<div class="form-group row">
								<label for="present_address" class="col-md-4 col-form-label text-md-right">Ciudad</label>
								<div class="col-md-6">
									<input type="text" id="city" name="city" value="{{user_info.city}}" class="form-control">
								</div>
							</div>

							<div class="form-group row">
								<label for="permanent_address" class="col-md-4 col-form-label text-md-right">Vía</label>
								<div class="col-md-6">
									<input type="text" id="street" class="form-control" value="{{user_info.street}}" name="street">
								</div>
							</div>

							<div class="form-group row">
								<label for="nid_number" class="col-md-4 col-form-label text-md-right"><abbr
										title="Número del portal">Portal</abbr></label>
								<div class="col-md-6">
									<input type="text" id="gate" value="{{user_info.gate}}" class="form-control" name="gate">
								</div>
							</div>

							<div class="form-group row">
								<label for="permanent_address" class="col-md-4 col-form-label text-md-right">Planta</label>
								<div class="col-md-6">
									<input type="text" id="floor" value="{{user_info.floor}}" class="form-control" name="floor">
								</div>
							</div>


							<div class="form-group row">
								<label for="permanent_address" class="col-md-4 col-form-label text-md-right">Puerta</label>
								<div class="col-md-6">
									<input type="text" id="door" value="{{user_info.door}}" class="form-control" name="door">
								</div>
							</div>

							<div class="form-group row">
								<label for="permanent_address" class="col-md-4 col-form-label text-md-right">Tfno. móvil</label>
								<div class="col-md-6">
									<input type="text" id="phone" value="{{user_info.phone}}" class="form-control" name="phone">
								</div>
							</div>

							<div class="form-group row">
								<label for="permanent_address" class="col-md-4 col-form-label text-md-right">Tfno. fijo</label>
								<div class="col-md-6">
									<input type="text" id="phone2" value="{{user_info.phone2}}" class="form-control" name="phone2">
								</div>
							</div>

							<div class="col-md-6 offset-md-4">
								<button type="submit" class="btn btn-primary">
									Solicitar cambio
								</button>
							</div>
					</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	</div>

</main>